@using FurnitureFabric.Properties
@model Business.ViewModels.FurnitureModel.FurnitureModelsViewModel

<div class="main-content">
    <h2>@Resources.ClientMain_ListName</h2>
    @foreach(var model in Model.FurnitureModels)
    {
        @Html.Partial("ShortFurnitureModel", model);   
    }
</div>
