@model Bussines.ViewModels.FurnitureModel.ShortFurnitureModelViewModel
<div class="list-group-item" >
    <h3 class="text-center"> @Model.Name</h3>
    <img style="display: inline; max-height: 150px; max-width: 150px;" src="/Images/nodata.png" />
</div>