@using FurnitureFabric.Properties
@model FurnitureFabric.ClientViewModels.MainMenuViewModel

<h2>@Resources.MainMenu_Menu</h2>
<div class="text-center">
    @foreach (var menuItem in Model.Items)
    {
        <div class="menu-item">
            <a href="@menuItem.Value">@menuItem.Key</a>
        </div>
    }
</div>
