@model Business.ViewModels.ProductModels.ProductListItemViewModel

<div class="main-content">
    <h2>Product successfully added</h2>
    <h3>Serial number - @Model.SerialNumber</h3>
    <h3>Assembly Date - @Model.AssemblyDate</h3>
</div>